
@{
    ViewData["Title"] = "Upload";
}
<div class="row">
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
        <div class="form-group">
            <div class="col-md-6">
                <p>Choose files to upload:</p>
                <input type="file" name="files" id="files" multiple />
                <input type="submit" value="Upload" />
            </div>
        </div>
    </form>
    <div class="row">
        <div class="form-group">
            <b>@ViewBag.Message</b>
            <br />
            @if (ViewBag.Results != null)
            {
                foreach (var item in (Dictionary<string, string>)ViewBag.Results)
                {
                    <i>@item.Key </i>
                    <b>==> </b>
                    <b>@item.Value</b>
                    <br />
                }
            }
        </div>
    </div>
</div>
