
.upload_song_form {
    padding: 5%;
    text-align: center;
}

.upload_title {
    color: #aaaaaa;
    padding: 10px;
    font-size: 20px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    cursor: pointer;
    background-color: #107dac;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    outline: none;
}

.upload_song_form input:first-child {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.submit_btn {
    margin-left: 10px;
    cursor: pointer;
    background-color: #107dac;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    outline: none;
}

.file-name{
    color: #aaaaaa;
    padding: 10px;
    font-size: 16px;
}